
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include meta %>
    <title>About</title>
  </head>

  <body>
    <header>
      <% include header %>
    </header>
    <div class="container">

      <div class="jumbotron">
        <h1 class="display-3">About Us</h1>
      </div>


    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
