<!DOCTYPE html>
<html lang="en">
  <head>
    <% include meta %>
    <title>Home</title>
  </head>

  <body>
    <header>
      <% include header %>
    </header>


    <div class="container">
        <h1>BoOgh</h1>
        <p class="lead">homepage blah blah...<br> All you get is this text and a mostly barebones HTML document.</p>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
