
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include meta %>
    <title>Login</title>
  </head>

  <body>
    <header>
      <% include header %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="card card-container">
                   <h4 style="margin-bottom: 25px;" class='btn-space'>Login to your account</h4>
                    <form class="form-signin" action="/login">
                        <input type="email" id="email" class="form-control btn-space" placeholder="Email address" required autofocus>
                        <input type="password" id="password" class="form-control btn-space" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block btn-signin btn-space" style="margin-top: 25px;" type="submit">Sign in</button>
                    </form>
                </div>
                <a href="/users/register" class="text-center new-account">Create an account</a>
            </div>
        </div>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
