
<!DOCTYPE html>
<html lang="en">

  <head>
     <% include meta %>
    <title>Register</title>
  </head>
  <body>
    <header>
      <% include header_member %>
      <title>Members</title>
    </header>
    <main>
      <div class="container">
        <h4>Name: <%= user.name %></h4>
        <h6>Phone: <%= user.username %> </h6>
        <h6>Membership Type: <%= user.membershipType %> </h6>
        <h6>Expires on: ()</h6>
      </div>

      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
