
<!DOCTYPE html>
<html lang="en">
  <head>
     <% include meta %>
    <title>Register</title>
  </head>

  <body>
    <header>
      <% include header %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <% if(message) {%>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% for(var i=0; i<message.length; i++) {%>
                   <li><%= message[i].msg %></li>
                <% } %>
              </ul>
            </div>
          <% } %>
          <% if(success) {%>
            <div class="alert alert-success" role="alert">
              <%= success %>
            </div>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-4">

          <form action="/users/register" method="post" style"display:inline-block;">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

            <div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Address</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="address" id="address"  placeholder="Enter your Address"/>
								</div>
							</div>
						</div>

            <div class="form-group">
              <label for="membershipType" class="cols-sm-2 control-label">Membership Type</label>
              <div class="btn-group pull-right" data-toggle="buttons">
                  <label class="btn btn-bronze btn-outline">
                    <input type="radio" name="membershipType" id="bronze" value="0"> Bronze
                  </label>
                  <label class="btn btn-silver btn-outline">
                    <input type="radio" name="membershipType" id="silver" value="1"> Silver
                  </label>
                  <label class="btn btn-gold btn-outline">
                    <input type="radio" name="membershipType" id="gold" value="2"> Gold
                  </label>
              </div>
            </div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username(phone)</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your phone"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password2" id="password2"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
              <button type="submit" value="Submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
						</div>


					</form>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
