
<!DOCTYPE html>
<html lang="en">

  <head>
     <% include meta %>
    <title>Register</title>
  </head>
  <body>
    <header>
      <% include header %>
      <title>Members</title>
    </header>
    <main>
      <div class="container">
          <p>logged in status: </p>
          <p><%= name %></p>
      </div>
    </main>
  </body>
</html>
