body {
    padding-top: 65px;
    background: url("../bg2.jpeg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .btn-bronze {
    background-color: #ebc793;
    border-color: #ebc793;
  }
  .btn-bronze:hover,
  .btn-bronze:focus,
  .btn-bronze:active,
  .btn-bronze.active {
    background-color: #e7bc7d;
    border-color: #e3b168;
  }


  .btn-gold {
    background-color: #ffa800;
    border-color: #ffa800;
  }
  .btn-gold:hover,
  .btn-gold:focus,
  .btn-gold:active,
  .btn-gold.active {
    background-color: #e69700;
    border-color: #cc8600;
  }


  .btn-silver {
    background-color: #cccac7;
    border-color: #cccac7;
  }
  .btn-silver:hover,
  .btn-silver:focus,
  .btn-silver:active,
  .btn-silver.active {
    background-color: #c0bdba;
    border-color: #b4b1ac;
  }

  /*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-space {
    margin: 10px;
}
